html {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
  --dark: #0f0f0f;
  --light: #f0f0f0;
  --sage: #cfcaaa;
  --metal: #223944;
  --red: #df0101;
}
html::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

html,
body,
main {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--sage);
}

#hero {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "norman-variable";
}
#grain,
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
}
#grain {
  z-index: 1;
  opacity: 1;
  mix-blend-mode: difference;
}

.slide {
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s ease-in;
}
.slide.active {
  opacity: 1;
}
div.slide:nth-of-type(1) {
  background-image: url("../assets/img/slideshow-desktop/1.png");
}
div.slide:nth-of-type(2) {
  background-image: url("../assets/img/slideshow-desktop/2.png");
}
div.slide:nth-of-type(3) {
  background-image: url("../assets/img/slideshow-desktop/3.png");
}
div.slide:nth-of-type(4) {
  background-image: url("../assets/img/slideshow-desktop/4.png");
}

#hero-text {
  position: absolute;
  z-index: 2;
  color: var(--sage);
  mix-blend-mode: difference;
  opacity: 1;
  user-select: none;
}
#hero-text h2 {
  font-variation-settings: "wght" 400;
  font-weight: 400;
  font-variant-ligatures: discretionary-ligatures;
  line-height: 1;
  margin: 0.5% 0 0 2.5%;
  padding-bottom: -50%;
  text-align: center;
  transition: font-variation-settings 0.4s ease-in-out;
}
#hero h2#jokubas:hover {
  font-variation-settings: "wght" 600;
  transition: font-variation-settings 0.4s ease-in-out;
}
#hero h2#staniulis:hover {
  font-variation-settings: "wght" 565;
  transition: font-variation-settings 0.4s ease-in-out;
}
#hero-text #jokubas {
  position: relative;
  text-align: left;
}
#jokubas::after {
  content: "_";
  position: absolute;
  bottom: 90%;
  right: 44.5%;
  scale: 0.6;
}
#hero-text #staniulis {
  position: relative;
  text-align: right;
  margin-left: 2.1%;
}

/* #hero .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-weight: 200;
}
#hero .container ul li {
  display: inline-block;
  font-size: max(20px);
  padding: 0 20px;
}

#hero .container ul li a {
  font-family: "unbounded", serif;
}
*/
